:root {
  --primary-color: #1b1b1b;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Libre Baskerville', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 14px;
  min-width: 325px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.df {
  display: flex;
}

.aifs {
  align-items: flex-start;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jcsp {
  justify-content: space-between;
}

.fdc {
  flex-direction: column;
}

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

.h100vh {
  height: 100vh;
}

.pf {
  position: fixed;
}

.pr {
  position: relative;
}

.oh {
  overflow: hidden;
}

.ofcr {
  object-fit: cover;
}

.ofcn {
  object-fit: contain;
}

.fb1r {
  filter: blur(1rem);
}

.cp {
  cursor: pointer;
}